.info {
	position: absolute;
	bottom: 10%;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	color: color(primary, d);
	display: flex;
	flex-direction: column;
	gap: 3rem;
	width: 50%;

	@include respond(avena) {
		width: 80%;
	}

	@include respond(cebada) {
		width: 90%;
	}
}
