.footer {
	background-color: color(primary, f);
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 3rem;
	padding: 5.5rem 2rem 9rem 2rem;

	&__link {
		color: color(primary, e);
		text-decoration: none;
		transition: all 0.3s;

		&:hover {
			color: color(neutral, e);
		}
	}
}
