.header {
	position: absolute;
	top: 0;
	left: 0;
	height: 11rem;
	width: 100%;
	display: flex;
	align-items: center;
	padding: 2rem 3rem;
	z-index: 300;
	transition: all 0.3s;

	.left {
		flex: 1;
	}

	&__toggle {
		position: absolute;
		right: 4.5%;
		cursor: pointer;
		display: none;

		@include respond(maiz) {
			display: block;
		}
	}
}

.sticky-nav {
	height: 8rem;
	position: fixed;
	background-color: rgba(color(primary, e), 0.7);
	box-shadow: rgba(color(primary, c), 0.4) 0px 7px 29px 0px;
}
